RewriteEngine On

#detecta que quieres hacer algo con un item
RewriteCond %{QUERY_STRING} ^item={(.*)}$ 
RewriteRule ^modify_item$ modify_item/?id=%1 [L]
RewriteCond %{QUERY_STRING} ^item={(.*)}$ 
RewriteRule ^show_item$ items/item\.php?id=%1 [L]

# Detecta delete_item?item=x
RewriteCond %{QUERY_STRING} ^item=(.*)$
RewriteRule ^delete_item$ delete_item/delete_item_form\.php?id=%1 [L]

#detecta que quieres hacer algo con un usuario
RewriteCond %{QUERY_STRING} ^user={(.*)}$ 
RewriteRule ^modify_user$ modificar_form/user_modify_form\.php?id=%1 [L]
RewriteCond %{QUERY_STRING} ^user={(.*)}$ 
RewriteRule ^show_user$ show_user/show_user\.php?user=%1 [L]
